.header {
  justify-content: center;
}

.photo-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.foto-header {
  z-index: -1;
  margin-bottom: 30px;
}

.title {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  height: 77%;
  width: 100vw;
}

.header h1 {
  color: #ffff;
  font-size: 51px;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgb(37, 36, 36);
  position: absolute;
  z-index: 0;
}

.header p {
  text-align: center;
  padding: 0 48px;
}

@media (min-width: 768px) {
  .foto-header {
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .header p {
    font-size: 13px;
    line-height: 18px;
    padding: 0 45px;
  }
}

@media (max-width: 576px) {
  .foto-header {
    width: 100vw;
  }
}

@media (max-width: 496px) {
  .header {
    justify-content: center;
  }

  .header h1 {
    font-size: 45px;
  }

  .header p {
    padding: 30px;
    text-align: justify;
  }

  .foto-header {
    margin-bottom: 10px;
  }
}

@media (max-width: 340px) {
  .header h1 {
    font-size: 40px;
  }

  .header p {
    font-size: 15px;
  }
}
