<header class="header">
  <div class="photo-title">
    <figure>
      <img
        class="foto-header"
        src="../../../../assets/images/foto-header.png"
        alt="Foto dos funcionários do Elo7, em espírito de equipe, sorrindo com os braços levantados para cima."
      />
    </figure>

    <h1 class="title">Trabalhe no Elo7</h1>
  </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut
    efficitur ex, at malesuada ligula. Pellentesque odio ipsum, viverra a eros
    sit amet, fringilla sagittis augue. Fusce risus tellus, tempus quis lacinia
    in, vehicula ut turpis.
  </p>

  <aside>
    <app-hr-link [link]="linkInfo"></app-hr-link>
  </aside>
</header>
