.under-construction {
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 4em;
}

a {
  background: url(https://images.elo7.com.br/assets/v3/desktop/svg/logo-elo7.svg);
  list-style: none;
  background-size: 89px 34px;
  height: 34px;
  width: 89px;
  text-indent: -9999px;
  display: block;
  text-decoration: none;
}

h2 {
  text-transform: none;
  margin-bottom: 2em;
}
