<main class="under-construction">
    <header>
        <h1>
            <a href="" title="Elo7 | Produtos Fora de Série">
                Elo7
            </a>
        </h1>
    </header>

    <figure>
        <img src='assets/images/underconstruction.png' alt="Ilustração da Pagina em construção" />
    </figure>

    <h2>
        Esta página está em construção para melhor atendê-lo.
    </h2>
    <aside>
        <app-hr-link [link]="linkInfo" class="back-home"></app-hr-link>
    </aside>

</main>