.about-culture {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40px;
  padding: 20px;
  width: auto;
  justify-content: center;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.about-culture p,
h2 {
  line-height: 25px;
  margin-top: 25px;
}

.about-culture p {
  text-align: justify;
}

@media (min-width: 768px) {
  .items {
    padding: 0 16px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 576px) {
  .about-culture {
    display: flex;
    flex-direction: column;
  }

  p {
    margin-bottom: 40px;
  }
}
