<article class="video-ceo">
  <figure>
    <img
      src="assets/images/placeholder-video.png"
      alt="Vídeo do Ceo, um homem branco com cabelo castanho, ao fundo, uma prateleira branca com alguns livros e um abajour branco."
    />
  </figure>

  <div class="ceo-saying">
    <h2>Palavra do Ceo</h2>
    <h3>Carlos Curioni</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere sem
      eu commodo porta. Nam sollicitudin nisl nec leo sollicitudin, ac molestie
      dolor ultricies. Nunc convallis tristique lacinia. Fusce fringilla eget
      libero non viverra. Vestibulum nec diam nisl.
    </p>
  </div>
</article>
