.video-ceo {
  display: flex;
  background-color: var(--light-gray);
  margin-top: 50px;
  padding: 50px;
  align-items: flex-start;
}

.ceo-saying {
  flex-direction: column;
  margin-left: 50px;
  height: 220px;
}

.ceo-saying p {
  margin-top: 30px;
  text-align: justify;
}

.ceo-saying h2 {
  text-align: left;
}

.ceo-saying h3 {
  color: var(--orange);
  font-style: italic;
  font-weight: normal;
}

@media (min-width: 768px) {
  .ceo-saying {
    flex-direction: column;
    margin-left: 30px;
    height: 220px;
  }

  .ceo-saying p {
    margin-top: 10px;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .video-ceo {
    margin-top: 35px;
    padding: 40px;
    padding-bottom: 0;
  }

  .video-ceo img {
    width: 42vw;
  }

  h2,
  h3 {
    font-size: 17px;
  }

  .ceo-saying p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 22px;
  }
}

@media (max-width: 576px) {
  .video-ceo {
    display: flex;
    flex-direction: column;
  }

  .ceo-saying {
    flex-direction: column;
    height: 220px;
    margin-left: 0;
    padding: 10px;
  }
}

@media (max-width: 496px) {
  .ceo-saying p {
    font-size: 15px;
    margin-top: 10px;
  }

  .ceo-saying h2 {
    text-align: left;
    font-size: 20px;
  }
}
